
body.index h1 {
    background-color: #4fbcdc;
    color: white;
    text-align: center;
}

body.index p {
    color: #6ea483;
}

/* About page styles */
body.about h2 {
    background-color: #f9fedb;
    color: #333;
    text-align: left;
}

body.about p {
    color: #5a8d9e;
}


body.contact-page {
    font-family: Arial, sans-serif;
    background-color: #d5e5f2;
    padding: 20px;
}

body.contact-form label.name {
    color: #f2e7ab;
}

body.contact-form label.email {
    color: #f2e0ab;
}

body.contact-form label.subject {
    color: #f2d2ab;
}

body.contact-form label.message {
    color: #f2c8ab;
}


nav {
    background-color: #a4b3dd;
}

nav a {
    color: #14204e;
    text-decoration: none;
}

nav a:hover {
    color: #3498db;
}
